html{
    background-color:antiquewhite;
    font-family: "楷体";
}

body{
    margin:10px;
    padding:30px;
}

header, main{
    text-align: center;
}

nav{
}

p:hover{
    background-color:white;
    font-size:150%;
    font-style:italic;
    font-weight:bold;
}

a:link{
    color:blue;
}
a:visited{
    color:grey;
}
a:hover{
    color:red;
}
a:active{
    color:gray;
}

#message1{
    font-style: italic;
    font-size:15px;
    font-weight:bold;

    border-color:black;
    border-style:dashed;
    border-width: 2px;
}